*{
    box-sizing: border-box;
}
:root{
    font-size: min(4vmin,16px);
    --transition-timing:0.5s;
    scrollbar-color: hsl(214, 89%, 52%) hsl(216, 20%, 95%) !important;
    scrollbar-width: thin !important;
     --shadow-color:rgba(10, 63, 119, 0.349);
    --mobile-menu-height:5rem;
    --mobile-menu-bg-color:white;
    --mobile-menu-open-bg-color:white;
    --mobile-menu-a-bg-color:hsl(214, 89%, 52%);

    --menu-button-bg-color:hsl(214, 89%, 52%);
    --menu-button-hover-bg-color:#EEEEEE;
    --menu-button-open-color:white;
    --menu-button-shadow-color:rgba(0, 0, 0, 0.14);
    /*For Desktop*/
    --desktop-menu-header-width:2rem;
    --desktop-menu-list-width:4rem;
    --desktop-menu-width:calc(var(--desktop-menu-header-width) + var(--desktop-menu-list-width));
    --desktop-menu-a-title-bg-color:hsl(214, 94%, 70%);
      /* ------footer--------- */
  --footer-height:2rem;
  --footer-min-width:264px;
  --footer-fg-color:#2f2e41;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 242, 245);
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0%;
}
body{margin-bottom: 5rem;
    margin-top: 3rem;}
    
#page-container {
    position: relative;
    min-height: calc(100vh - 8rem);
  }
  
  #content-wrap {
    padding-bottom: var(--footer-height);
    min-height: calc(100vh - 8rem);
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: var(--footer-min-width);
    height: var(--footer-height);
    line-height: calc(var(--footer-height));
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    color: var(--footer-fg-color);
    font-weight: bold;
    
  }
  div.main-body{
    
    background-color: rgb(240, 242, 245);
    min-height: calc(100vh - 10rem);
    width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background-color: rgb(240, 242, 245);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(214, 89%, 52%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsla(214, 89%, 52%, 0.692); 
  }



.menu{
    background-color: var(--mobile-menu-bg-color);
    position: fixed;
    height: var(--mobile-menu-height);
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-timing);
    box-shadow: 0px -4px 10px var(--shadow-color);
    z-index: 1;
    }

    
    .menu .header{
        z-index: 1;
        width: 100vw;
        height: 3rem;
        font-family: 'Orbitron', sans-serif;
        text-transform: lowercase;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 3rem;
        writing-mode:horizontal-tb;
    text-orientation: upright;
    position: fixed;
    top: 0;
    background-color:var(--mobile-menu-bg-color);
    color:var(--mobile-menu-a-bg-color);
    text-align: center;
    box-shadow: 1px 1px 10px var(--shadow-color);
    /* border-bottom: 3px solid var(--mobile-menu-a-bg-color); */
    }

    .menu-event{
        display: none;
    }
    
    
    .menu-event:checked ~ .menu{
        height: 100vh;
        width: 100vw;
        background-color: var(--mobile-menu-open-bg-color);
    }
    .menu-btn {
        width: calc(var(--mobile-menu-height) - 1rem);
        height:calc(var(--mobile-menu-height) - 1rem);
        background-color: var(--menu-button-bg-color);
        position: absolute;
        border-radius: 50%;
        text-align: center;
        line-height: calc(var(--mobile-menu-height) - 1rem);
        box-shadow: none;
        font-size: calc(calc(var(--mobile-menu-height) - 1rem) / 2);
        z-index:2;
        cursor: pointer;
       box-shadow: 3px 3px 0 0 var(--menu-button-shadow-color);
       color: white;
      }
    
      .menu-btn:hover,.menu-btn:focus,.menu-btn:active{
          background-color: #66a2f0;
      }
    
    .menu-list{
        margin: 0;
        height:var(--mobile-menu-height);
        width:var(--mobile-menu-height);
        background-color: transparent;
        border-radius: 100%;
        position: relative;
        transition: var(--transition-timing);
        transform: rotate(180deg);
    }
    
    .menu-item{
        height: calc(var(--mobile-menu-height) / 2);
        width: calc(var(--mobile-menu-height) / 2);
        list-style: none;
        line-height: calc(var(--mobile-menu-height) / 2);
        text-align: center;
        margin: 0;
        font-size: 0;
        position: absolute;
        background-color: transparent;
        pointer-events: none;
        transition:var(--transition-timing);
    }
    
    .menu-list .menu-item a{
        text-decoration: none;
        padding: none;
        border-radius: 50%;
        transition: var(--transition-timing);
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
       color: var(--mobile-menu-bg-color);
       background-color: var(--mobile-menu-a-bg-color);
    }

    .menu-event:checked ~.menu .menu-list .menu-item a{
        font-size: 2rem;
        line-height: 1.5rem;
        padding: 2rem;
        /* transition: var(--transition-timing); */
        pointer-events: all;
    }
    
    
    .menu-event:checked ~.menu .menu-list{
        height: 20rem;
        width: 20rem;
        transform: rotate(0deg);
        }
        
    .menu-event:checked ~ .menu  .menu-list .menu-item{
        height: 10rem;
        width:10rem;
        line-height:10rem;
        transition: var(--transition-timing);
    }
    
    .menu-event:checked ~.menu .menu-btn{
        background-color: #FF2400;
    }
    .menu-event:checked ~.menu .menu-btn i:before{
        content: "\f00d";
    }
    
    .menu-item:nth-child(1)
    {
        top:0;
        left: 0;
        border-radius: 10rem 0 0 0;
        padding: 1rem 0 0 1rem; 
    }
    
    .menu-item:nth-child(2)
    {
        right: 0;
        top: 0;
        border-radius: 0 10rem 0 0;
        padding: 1rem 1rem 0 0;
    }
    
    .menu-item:nth-child(3)
    {
        bottom:0;
        right: 0;
        border-radius: 0 0 10rem 0;
        padding: 0 1rem 1rem 0;
    } 
    
    .menu-item:nth-child(4)
    {
        bottom: 0;
        left: 0;
        border-radius: 0 0 0 10rem;
        padding: 0 0 1rem 1rem;
    }

    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card{
        background-color: white;
        border: 1px solid hsla(214, 84%, 19%, 0.253);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
/*---------------------------------- Landscape Version -------------------------------*/

    @media (orientation:landscape){
        #page-container {
            min-height: 100vh;
          }
          
          #content-wrap {
            min-height: 100vh;
          }
        body{
            margin:0;
            margin-left: var(--desktop-menu-width);
        }
        div.main-body{
            background-color: rgb(240, 242, 245);
            margin:0;
            width: 100%;
        }
        .middle{
            display: flex;
            flex-direction: row;
        align-items: center;
        justify-content: center;
        }
        .menu-event:checked ~ .menu,
        .menu{
    height: 100%;
    padding: 0;
    width: var(--desktop-menu-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--mobile-menu-bg-color);
    transition: none;
    box-shadow: 1px 1px 10px rgba(10, 63, 119, 0.349);
}

.menu-event:checked ~.menu .header,
.menu .header{
    display: inline;
    height: 100%;
    position: fixed;
    left: 0;
    width:var(--desktop-menu-header-width);
    color: var(--mobile-menu-bg-color);
    background-color:var(--mobile-menu-a-bg-color) ;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    line-height: var(--desktop-menu-header-width);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: calc(var(--desktop-menu-header-width) - 0.5rem);
    pointer-events: none;
    text-transform: uppercase;
}


.menu-btn{
    display: none;
}
.menu-event:checked ~.menu .menu-list,
.menu .menu-list{
    margin: 0;
    padding: 0;
    /* border-left: 1px solid rgb(255, 199, 87); */
    position: fixed;
    left: var(--desktop-menu-header-width);
    list-style-type: none;
    height: 100%;
    width: var(--desktop-menu-list-width);
    background-color: var(--mobile-menu-bg-color);
    transform: rotate(0deg);;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0%;
    transition: none;
    z-index: 2;
}

.menu-event:checked ~ .menu  .menu-list .menu-item,
.menu  .menu-list .menu-item{
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: all;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-event:checked ~.menu .menu-list .menu-item a,
.menu .menu-list .menu-item a{
    position: relative;
    text-align: center;
    border-radius:0%;
    font-size: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--mobile-menu-a-bg-color);
    box-shadow: none;
    padding: .5rem;
    transition: .5s;
}


.menu-event:checked ~.menu .menu-list .menu-item a[info]:hover::after,
.menu .menu-list .menu-item a[info]:hover::after{
    content: attr(info);
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 2rem;
    background-color: var(--desktop-menu-a-title-bg-color);
    color: #262626;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
    z-index: 1;
    left: 110%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.menu-event:checked ~.menu .menu-list .menu-item a:hover,
.menu .menu-list .menu-item a:hover{
    background-color: rgba(30, 106, 221, 0.185);
}

.menu-item:nth-child(1)
{
    top:auto;
    left: auto;
    border-radius: 0;
    padding: 0; 
}

.menu-item:nth-child(2)
{
    right: auto;
    top: auto;
    border-radius:0;
    padding:0;
}

.menu-item:nth-child(3)
{
    bottom:auto;
    right: auto;
    border-radius: 0;
    padding: 0;
} 

.menu-item:nth-child(4)
{
    bottom: auto;
    left: auto;
    border-radius: 0;
    padding: 0;
}



}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.568);
    z-index: 2;
    cursor: pointer;
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #2f2e41;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--button-color);
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40%;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 40%;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 40%;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        bottom: 40%;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        bottom: 40%;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
