*{
  font-family:FontAwesome,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
form{
    margin: 0 auto; 
    width: 80%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  textarea{
    resize:none;
    min-height:140px;
    height:20vh;
  }
  
  input[type=text]:focus,input[type=email]:focus, textarea:focus{
    border-color: brown;
  }
  
  
  input[type=submit] 
  {
    background-color: rgb(1, 46, 246);
    color: white;
    padding: 8px 16px;
    border: 2px solid rgb(3, 23, 110);
    min-height:40px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 20px;
  }
  
  input[type=submit]:hover,input[type=submit]:active{
    
    background-color:rgb(60, 94, 248);;
  }
  
  @media screen and (max-width:640px)
  {
    input[type=submit]{width: 100%;}
  }


  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }





  #snackbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    font-size: 20px;
    text-align: center; 
    border-radius: 10px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 40%; 
  }
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 40%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 40%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }