
*{
    box-sizing: border-box;
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
    height:100%;
    width: 100%;
    margin: 0px;
    background-color: rgb(8, 9, 37);
}

div.main-containt{

    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    
}

div.logo{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: rgb(153, 171, 248);
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
span.sublogo{
    font-size: 26px;
}


form{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(1, 46, 246);
    color: white;
    padding: 8px 16px;
    border: 2px solid rgb(3, 23, 110);;
    
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 20px;
    /* font-weight: bold; */
  }
  
  /* input[type=submit]:hover {
    background-color: 
    
  } */





  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

div.footer{
    
    width: 100%;
    background-color: rgb(153, 171, 248);
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}


 #snackbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    font-size: 20px;
    text-align: center; 
    border-radius: 10px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 40%; 
  }
 
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 40%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 40%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  } 


@media screen and (max-width: 1080px){
    div.main-containt{

        width: 70%;
    }
}
@media screen and (max-width: 720px){
    div.main-containt{

        width: 80%;
    }
    span.sublogo{
        font-size: 0px;
    }
    input[type=submit]{
      width: 100%;
      letter-spacing: 5px;
    }
}
@media screen and (max-width: 360px){
    div.main-containt{
        width: 90%;
    }
}
