
@font-face{
    font-family:Orbitron ;
    src: url("../fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}
@font-face{
    font-family:pixel;
    src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
*{
    box-sizing: border-box;
 }
html {
    scroll-behavior: smooth;
     }

body{
    font-family:pixel,cursive;
    /* letter-spacing: 1px; */
    /* font-weight: bold; */
    }
.header{
    padding: 10px;
    border-bottom: 2px solid black;
    }

.heading{
    width:20%;
    float: left;
    }

.navigation{
    margin-top: 30px;
    text-align: right;
    width:80%;
    float: right;
  }

.navigation a{
    display: inline;
    font-size: 20px;
    color: black;
    padding: 10px;
    /* background-color: rgb(184, 181, 181); */
    text-decoration: none;  
  }

.navigation a:hover{
      color: white;
      background-color: black;
    }


.header::after{
    content: "";
    display: table;
    clear: both;
}

.menubutton{display: none;}

.logo{
    font-family:Orbitron;
    font-size: 60px;
    font-weight: bold;
}
.subline{
font-size: 20px;
}
.hidden{width:80%;}

.footer{
    padding: 10px;
    border-top: 2px solid black;
    text-align: center;
    /* position: relative; */
    }
@media screen and (max-width: 816px){
    .header{padding: 8px;}
    .heading{
        width: 100%;
        float:none;
        text-align: center;
    }
    .navigation{
        width: 100%;
        margin-top: 10px;
        float:left;
        text-align: center;
    }
    .hidden{width: 100%;}
}


    
@media screen and (max-width: 644px){
    .menubutton{
        display: block;
        border: 2px solid black;
    }
    .navigation{
        margin-top: 0px;
        height: 100%;
        width: 75%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
    }
    .hidden{width:0%;}
    .container{
        position: relative;
        top: 20%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .navigation a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
  /* transition: 0.3s; */
    }

    .navigation a:hover .overlay a:focus {
        color: #f1f1f1;
    }
    .heading{
        width: 100%;
        float:none;
    }
    
    .heading a{
        float: right;
        padding: 5px;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        color:black
    } 
  }

@media screen and (max-height: 450px) {
    .navigation a {font-size: 23px}    
  }


.mid-text{
    text-align: center;
}

.no-decoration{
    text-decoration: none;
    color: black;
}

.send-btn{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}